# Frontend
frontend/node_modules
frontend/dist

# Backend
backend/__pycache__
backend/instance/database.db
backend/*.pyc
backend/venv
backend/.venv
**/__pycache__/

# General
.env
.vscode
*.log
.DS_Store